*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #3D404B;
    font-family: sans-serif, Verdana, Tahoma;
    color: #C5C8D5;
}
.coords {
    color: #B6B9C0;
    padding: 2%;
    line-height: 25px;
}
.inputDiv {
    margin-left: 2%;
}
#messageError{
    color: white;
}
#input {
    width: 98%;
    height: 45px;
    border-radius: 10px;
    line-height: 40px;
    color: white;
    background-color: #1C1D29;
    padding-left: 10px;
    font-size: 18px;
}
#input:focus {
    background-color: white;
    color:black
}
.weather {
    width: 98%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px;
    background-color: #1D1F2A;
    border-radius: 15px;
    margin: 20px auto 5px auto;
}
.top1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343541;
    height: 20%;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393B44;
    height: 20%;
}
.day1 {
    background-color: #1D1F2A;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.day {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #22242E;
    height: 80%;
}
.one {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.six {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.six .top1 {
    border-top-right-radius: 15px;
}
.six .day1 {
    border-bottom-right-radius: 15px;
}
.two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
    width: 90%;
    height: 90%;
    margin: 5%;
    border: 1px solid #494C59;
}
.topOne {
    position: relative;
    background-color: #393B44;
    height: 20%;
    line-height: 50px;
    border-top-left-radius: 15px;
}
.dayOne {
    position: relative;
    background-color: #22242E;
    height: 80%;
    border-bottom-left-radius: 15px;
}
.monthDay {
    position: absolute;
    right: 10px;
}
.weekDay {
    position: absolute;
    left: 10px;
}
.city {
    position: absolute;
    left: 10px;
    top: 30px;
    font-weight: bold;
    font-size: 25px;
    color: #BFC2C9;
}
.temp {
    position: absolute;
    left: 10px;
    top: 65px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.humidity {
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.cloud {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.icon {
    position: absolute;
    right: 10px;
    top: 10px;
}
#messageError {
    font-size: 18px;
    color: white;
    margin: 5px 0 5px 40%;
}