*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #3D404B;
}
.coords {
    color: #B6B9C0;
    padding-left: 1%;
}
.inputDiv {
    margin-left: 1%;
}
#messageError{
    color: white;
}
#input {
    width: 98%;
    height: 45px;
    border-radius: 10px;
    line-height: 40px;
    color: white;
    background-color: #1C1D29;
    padding-left: 10px;
}
.weather {
    width: 98%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px;
    background-color: #1D1F2A;
    border-radius: 15px;
    margin: 20px auto;
}
.top1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343541;
    height: 20%;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393B44;
    height: 20%;
}
.day1 {
    background-color: #1D1F2A;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.day {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #22242E;
    height: 80%;
}
.one {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.six {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.one .top {
    border-top-left-radius: 15px;
}
.one .bottom {
    border-bottom-left-radius: 15px;
}
.six .top1 {
    border-top-right-radius: 15px;
}
.six .bottom1 {
    border-bottom-right-radius: 15px;
}
.two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
    width: 90%;
    height: 90%;
    margin: 5%;
    border: 1px solid #494C59;
}